:root, body{
  min-height: 100dvh;
}

body, main, section, .header-info{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

body, main, h1, h3, h4{
  margin: 0;
}

body{
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

button{
  width: 250px;
  height: 50px;
  margin: 10px;
}

main{
  flex-direction: column;
  align-items: center;
}

footer{
  background-color: red;
  height: 50px;
  line-height: 50px;
}

.header{
  width: 100%;
  align-items: center;
  justify-content: space-between;

}

.header-info{
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
}

.content{
  width: 90%;
  margin-bottom: 30px;
  background-color: green;
}

@media screen and (max-width: 700px){
  .content{
    width: 100%;
  }
}