body{
  background-color: antiquewhite;
  text-align: center;
}

.container{
  width: 80%;
  margin: 0 auto;
  background-color: blue;
}

.landing-header{
  display: flex;
  width: 80%;
  background-color: red;
  margin: 0 auto;
}

.landing-description{
  flex: auto;
  text-align: center;
  height: 145px;
  background-color: aqua;
}

button{
  height: 50px;
  width: 40%;
  margin: 10px;
}

.landing-footer{
  flex: auto;
  height: 50px;
  background-color: yellow;
  line-height: 50px;
}

h2{
  margin: 10px 0;
}

@media screen and (max-width: 700px){
  .landing-header{
    width: 100%;
  }

  button{
    width: 80%;
    margin: 10px;
  }
}