.landing > .header{
    width: 80%;
    background-color: red;
    align-items: stretch;
  }
  
.landing > .header img{
    width: 25%;
    max-height: 175px;
    max-width: 175px;
    align-self: center;
  }
  
@media screen and (max-width: 700px){
    .landing .header{
        width: 100%;
    }
}