.booking > .header{
    background-color: yellow;
}

.booking > .header img{
    height: 100px;
    aspect-ratio: auto;
    margin: 10px;
}


/****** turn-list *******/

.content label{
    line-height: 50px;
}

.content select{
    min-height: 30px;
    margin: 5px;
}

.turn-list{
    padding-top: 20px;
}

.turn-list input{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	visibility: hidden;
    margin: 0;
}

.turn-list span{
    padding: 10px;
    margin: 10px;
    background-color: orange;
}

.turn-list input:checked + span{
    background-color: aqua;
}


/******** Obs ***********/

.obs{
    width: 80%;
    height: 100px;
    margin: 20px;
    resize: vertical;
}


/******** Confirm *********/

.confirm{
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    background-color: yellow;
}
